body {
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #2b2b2b;
}

.container {
  text-align: center;
  color: white;
  margin: 0;
  width: 100%;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 60px;
  object-fit: cover;
}

.name {
  margin-top: 20px;
  font-size: 3em;
  font-weight: bold;
}

#portfolioTitle{
  margin: 16px;
  margin-bottom: 32px;;
}

.games{
  position: relative;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 32px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5), 0px -8px 8px rgba(0, 0, 0, 0.5);
}

.containerTitle{
  margin: 0;
  margin-top: 16px;
  width: 100%;
  flex: 1;
}

.projects {
  display: flex;
  width: 100%;
  overflow-x: auto; 
  cursor: grab;
}

.projects::before,
.projects::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px; /* Largeur de l'ombre */
  pointer-events: none; /* Permet de cliquer à travers l'ombre */
  z-index: 1;
}

.projects::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); /* Ombre à gauche */
}

.projects::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); /* Ombre à droite */
}

.projects:active {
  cursor: grabbing; /* Change le curseur lorsque l'utilisateur clique et maintient */
}

.projects::-webkit-scrollbar {
  display: none; /* Pour les navigateurs basés sur WebKit */
}

.invisibleSpace{
  position: relative;
  background-color: none;
  min-width: 25px;
  max-width: 25px;
}

.project{
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  flex-shrink: 0;
  margin: 16px;
  margin-bottom: 24px;
  min-width: 200px;
  width: 40%;
  border-radius: 8px;
  padding: 8px;
}

.project:hover {
  transform: scale(1.05); /* Applique un zoom de 10% lorsque la souris est dessus */
}

.projectImage{
  width: 200Px;
  border-radius: 8px;
}

.projectTitle{
  margin-top: 4px;
  font-weight: bold;
  font-size: 1.2em;
}

.projectDescription{
  width: 100%;
  text-align:justify;
}

footer {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  text-align: center;
  bottom: 0;
  box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.5);
}

.footer-content {
  margin: 0 auto;
}

.footer-description {
  margin-bottom: 10px;
}

.footer-contact a {
  color: #4CAF50;
  text-decoration: none;
}

.footer-contact a:hover {
  text-decoration: underline;
}